services:
  cnam-web-frontend:
    container_name: "cnam-web-frontend"
    image: "cnam-web-frontend"
    restart: "unless-stopped"
    build:
      context: "./"
      dockerfile: "./frontend/Dockerfile"
      args:
        VERSION: ${VERSION-0.0.0-develop}
    environment:
      PORT: ${FRONTEND_PORT-11000}
    ports:
      - "${FRONTEND_PORT-11000}:11000"

  cnam-web-backend:
    container_name: "cnam-web-backend"
    image: "cnam-web-backend"
    restart: "unless-stopped"
    build:
      context: "./"
      dockerfile: "./backend/Dockerfile"
      args:
        VERSION: ${VERSION-0.0.0-develop}
    environment:
      PORT: ${BACKEND_PORT-11500}
    ports:
      - "${BACKEND_PORT-11500}:11500"
    env_file: "./backend/.env"

  cnam-web-database:
    container_name: "cnam-web-database"
    image: "postgres:17.6"
    restart: "unless-stopped"
    env_file: ".env"
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - "cnam-web-postgres-data:/var/lib/postgresql/data"

  cnam-web-adminer:
    container_name: "cnam-web-adminer"
    image: "adminneoorg/adminneo:5.1.1"
    restart: "unless-stopped"
    env_file: ".env"
    environment:
      NEO_COLOR_VARIANT: "red"
      NEO_NAVIGATION_MODE: "dual"
      NEO_PREFER_SELECTION: true
      NEO_DEFAULT_DRIVER: "pgsql"
      NEO_DEFAULT_SERVER: "cnam-web-database"
      NEO_DEFAULT_DATABASE: ${DATABASE_NAME}
    ports:
      - "${ADMINER_PORT-8080}:8080"

volumes:
  cnam-web-postgres-data:
